---
extends: default

rules:
  braces:
    max-spaces-inside: 1
    level: error
  brackets:
    max-spaces-inside: 1
    level: error
  line-length: disable
  truthy: disable
  indentation:
    indent-sequences: false

ignore: |
  virtenv/
  .cache/
  .tox/
