SystemGroup {{ cups_system_group }}
LogFileGroup {{ cups_log_file_group }}
AccessLog {{ cups_log_files.access }}
ErrorLog {{ cups_log_files.error }}
PageLog {{ cups_log_files.page }}
CreateSelfSignedCerts {{ cups_create_selfsigned_certs }}
